* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #00a6e5;

}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
}

.logo img {
    height: 100px; /* Adjust as needed */
}
.home-icon a {
    font-size: 30px; /* Aumenta el tamaño del icono */
    color: black; /* Cambia el color del icono a negro */
    text-decoration: none; /* Esto elimina el subrayado del enlace */
    margin-right: 30px; /* Añade margen a la derecha para separar el icono del borde */
}

.home-icon i {
    transition: color 0.3s; /* Suaviza la transición del color al pasar el mouse */
}

.home-icon a:hover i {
    color: #555; /* Color cuando se pasa el mouse sobre el icono, ajusta según sea necesario */
}
.health-topics-header {
    color: #000000;
    display: flex;
    justify-content: space-between; /* Separa los elementos a ambos extremos del contenedor */
    align-items: center; /* Alinea los elementos verticalmente */
    padding: 30px 40px; /* Añade padding horizontal para evitar que los elementos toquen los bordes */
}
.alphabet-navigation {
    background-color: #00a6e5; /* El mismo color de fondo azul para que coincida con el encabezado */
    padding: 25px 30px;
    border-radius: 20px;
}

.alphabet-navigation a {
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    margin: 0 5px; /* Espacio entre los enlaces alfabéticos */
}

.health-topics-header h2 {
    background-color: #00a6e5; /* Un azul ligeramente diferente para el título principal */
    padding: 25px 30px; /* Relleno alrededor del título */
    border-radius: 15px; /* Bordes redondeados para el título */
    margin: 0 400px; /* Si necesitas espacio adicional en la parte superior del título */
    text-align: center;
    margin-top: -20px;
}

.health-topics {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Asegura que los elementos estén centrados si no llenan completamente la fila */
    gap: 5px; /* Espacio entre los temas */
}

.health-topic {
    flex-basis: calc(20% - 10px); /* Ajusta el ancho para 5 elementos por fila, restando el espacio del gap */
    text-align: center; /* Centra el texto debajo de las imágenes */
    margin-bottom: 10px; /* Espacio debajo de cada tema */
}

.health-topic img {
    object-fit: cover;
}

.health-topic h3 {

    width: 100%;
    background-color: #00a6e5; /* Color de fondo para las etiquetas de título */
    color: #231f20; /* Color del texto */
    margin-top: -10px; /* Ajusta para solapar la imagen y la etiqueta de título */
    padding: 5px 0; /* Relleno dentro de las etiquetas de título */
}

.about-oms-container {
    background-color: #ffffff; /* O el color de fondo que prefieras */
    text-align: center; /* Esto centrará el título */
}

.about-oms-container h1 {
    color: #000000; /* O el color que prefieras */
}

.about-oms-body {
    display: flex;
    align-items: flex-end; /* Esto alineará la imagen al fondo del div */
}

.about-oms-image {
    flex-basis: 50%;
    justify-content: center;
    align-items: flex; /* Esto también alinea la imagen al fondo del div */
}

.about-oms-image img {
    max-width: 90%; /* Ajusta al máximo del contenedor de la imagen */
    height: auto;
}

.about-oms-content {
    flex-basis: 60%;
    padding: 20px;
    font-size: 22px; /* Tu tamaño de fuente existente */
    color: #666;
    text-align: justify; /* Esto justificará el texto del párrafo */
}

.about-oms-images {
    display: flex;
    justify-content: space-between; /* Distribuye los contenedores de imagen uniformemente a lo largo de la fila */
    align-items: flex-start; /* Alinea los contenedores de imagen en la parte superior */
    padding: 0 20px; /* Añade padding a los lados para no tocar los bordes de la pantalla */
}

.image-container {
    width: calc(33.333% - 20px); /* Ajusta el ancho para 3 tarjetas por fila, restando el espacio entre las tarjetas */
    display: flex;
    flex-direction: column; /* Organiza los elementos en una dirección de columna */
    align-items: center; /* Centra el contenido de la tarjeta horizontalmente */
    margin-bottom: 20px; /* Espacio debajo de cada tarjeta */
}

.image-container img {
    object-fit: cover; /* Cubre el área del contenedor, recortando si es necesario */
    border-radius: 50%; /* Redondea la imagen */
    margin-bottom: 10px; /* Espacio entre la imagen y el texto */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave para dar profundidad */
}

.image-container p {
    background-color: #e5ebef;
    color: #231f20; /* Color del texto */
    margin: 5px;
    padding: 12px;
    border-radius: 10%;
    font-size: 18px; /* Tamaño del texto, ajustar según sea necesario */
}
.site-footer {
    background-color: #129dd9; /* Azul */
    color: white; /* Texto blanco para contraste */
    text-align: center; /* Texto centrado */
    padding: 40px 0; /* Padding superior e inferior para dar espacio */
    width: 100%; /* Asegura que el footer se extienda a lo largo de la pantalla */
}
.governance-section {
    text-align: center;
    background-color: #00a8d9; /* O el color de fondo que prefieras */
    padding: 20px;
}

.governance-section h1 {
    color: #ffffff; /* O el color que prefieras */
    margin-bottom: 22px;
}

.governance-items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Esto distribuirá los elementos uniformemente */
    gap:20px; /* Espacio entre los elementos */
}

.governance-item {
    display: flex;
    align-items: center;
    background-color: #00a8d9;
    width: calc(50% - 20px); /* Ajusta el ancho para que dos elementos quepan en una fila */
    margin-bottom: 20px; /* Espacio debajo de cada fila */
    
}

.governance-text {
    background-color: white;
    padding: 1px;
   
    width: 43%; /* Ajusta el ancho del texto para que no ocupe más de la mitad del elemento */
}
.governance-text h3{
    color: #00a8d9;
    text-align: center;
}
.governance-text p{
    text-align: left;
}

.governance-item img {
    width: 50%; /* Ajusta el ancho de la imagen para que no ocupe más de la mitad del elemento */
    height: auto;
    object-fit: cover; /* Esto asegurará que la imagen cubra su área asignada */
    margin-left: 25px;
    
}



